<div class="row my-5">
  <div class="col-12 col-sm-4">
    <div id="profile-pic" class="mb-3">
      <%= image_tag "LeWagon_ProfilePic.jpg", alt: "profile-pic" %>
    </div>
  </div>
  <div class="col-12 col-sm-8">
    <div class="container">
      <div id="about">
        <h2>About me</h2>
        <p>I'm originally from Hong Kong, and had moved to Japan to persure my passion as a developer. I worked in Macau for 10 years in the tourism industry prior to becoming a developer. You can find me at <a href="#socials">socials</a>.</p>
      </div>
    </div>
  </div>
</div>
