<div class="nav-group" id="about" >
  <div class="about row">
    <div class="col-12 col-md-4">
      <div id="profile-pic" class="mb-3 mb-md-0">
        <%= image_tag "LeWagon_ProfilePic.jpg", alt: "profile-pic" %>
      </div>
    </div>
    <div class="col-12 col-md-8 d-flex align-items-center">
      <div class="d-flex flex-column justify-content-around">
        <h2>About me</h2>
        <p>I'm originally from Hong Kong & Macau, and had moved to Japan to persure my passion as a developer. I worked in Macau for 10 years in the tourism industry prior to becoming a developer. </p>
        <p>Currently I am working as a developer for a Fintech startup.</p>
        <p>Occasionally I also teach full stack web development Ruby on Rails at Le Wagon Tokyo.</p>
        <p>You can find me on <a href="https://www.linkedin.com/in/donald-wh-chow" >Linkedin</a>.</p>
      </div>
    </div>
  </div>
</div>
