<div class="banner">
  <div class="row d-flex flex-column justify-content-center align-items-start g-0 h-100" style="background-size: cover; background-image: url(<%= image_path "portfolio_hero.png" %>);" >
    <div class="banner-text col-8 mx-5">
      <h1 class="title-main">Donald Chow's Portfolio</h1>
      <h2> I'm a web developer living in Tokyo. </h2>
      <h2> Check out some of the <a href="#projects" class="btn btn-warning">Projects</a> I built.</h2>
      <h2> Also find me on <a href="https://www.linkedin.com/in/donald-wh-chow" class="btn btn-primary me-2 mb-2"><i class="fa-brands fa-linkedin"></i> Linkedin</a>  <a href="https://github.com/Donald-Chow" class="btn btn-dark mb-2"><i class="fa-brands fa-github"></i> Github</a></h2>
    </div>
  </div>
</div>
