<div class="banner">
  <div class="row d-flex flex-column justify-content-center align-items-start g-0 h-100" style="background-size: cover; background-image: url(<%= image_path "portfolio_hero.png" %>);" >
    <div class="banner-text col-6 mx-5">
      <h1 class="title-main">Donald Chow's Portfolio</h1>
      <h2> I'm a web developer living in Tokyo. Check out some of the projects I have done before.</h2>
    </div>
  </div>
</div>
