<div class="row my-5">
  <div class="col-12">
    <div id="socials">
      <h2>Socials</h2>
      <div class="d-flex justify-content-center flex-wrap">
        <div class="button-social d-flex flex-column justify-content-center align-items-center">
          <h2>
            <i class="fa-brands fa-github"></i>
            <%= link_to "", "https://github.com/Donald-Chow", target: '_blank', class: 'button-social-link' %>
          </h2>
        </div>
        <div class="button-social d-flex flex-column justify-content-center align-items-center">
          <h2>
            <i class="fa-brands fa-linkedin"></i>
            <%= link_to "", "https://www.linkedin.com/donald-wh-chow", target: '_blank', class: 'button-social-link' %>
          </h2>
        </div>
      </div>
    </div>
  </div>
</div>
