<h2>Tech Stack</h2>
<div class="cards-stack">
  <% data.icons.each do |category| %>
    <div class="card-stack-outer">
      <div class="card-stack" style="border-left: 3px solid <%= category.color %>;">
        <h3 class="stack-title"><%= category['category'] %></h3>
        <div class="stack-element">
          <% category['elements'].each do |element| %>
            <%= element['svg'] %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
