// .cards-stack {

// }

.card-stack-outer {
  padding-bottom: 8px;
  // position: relative;
}

.card-stack {
  background: white;
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
}

.stack-title-rotated-text {
  transform: rotate(-90deg);
  transform-origin: left top;
  white-space: nowrap;
  position: relative;
}

.stack-title-centered-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
}

.stack-element {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex: 1;
  flex-wrap: wrap;
}

.card-stack img {
  height: 60px;
  width: 60px;
  object-fit: cover;
  margin: 6px;
}
