// Specific CSS for your home-page

// about section
#about{
  border-right: 3px solid $gray;
  height: 85%;
  flex: 1;
  padding: 4px
}

#profile-pic {
  overflow: hidden;
  height: 250px
}

#profile-pic img {
  width:100%;
  scale: 1.8;
  translate: 0 25%
}
